#jumbotronIntro {
    height: 100vh;
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px; 
     position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgb(187, 187, 187);
    font-weight: 800;
    font-family: Arial, sans-serif;
    
}

#name {
    font-size: 600%;
    opacity: 0.0;
    font-family: Arial;
    -webkit-animation: fadeIn ease 12s;
    animation: fadeIn ease 12s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
