.jumbotron-fluid {
    height: 100vh;
    background-image: url("../../resources/background/leaf-bg.jpg");
    background-size: cover;
    
    
}

.intro {
    padding: 400px 0; 
    text-align: center;
    color: rgb(187, 187, 187);
    
}

#name {
    font-size: 150px;
    opacity: 0.0;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    animation-fill-mode: forwards;
    font-family: Roboto;
    
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
