#jumbotronProjects{
    height: 100vh;
    color: whitesmoke;
    background-image: linear-gradient(black, grey);
}

#projectWord{
    font-size: 90px;
    padding: 50px;
    font-family: Merriweather, sans-serif; 
    font-weight: 900;
}