#aboutSection {
    height: 100vh;
    background-image: linear-gradient(white, lightgray);  
}

/* 'About' word styling */
#jumbotronAbout h1{
    height: 17px;
    color: black;
    font-size: 9vmin;
    padding: 13vh;
    font-family: Poppins, sans-serif; 
    font-weight: 900;
    text-align: center;
}

#me-photo {
    border-radius: 200px;
}

img {
    width: 60%;
    margin-left: 18%;
    margin-bottom: 10%;
    border-radius: 10px;
}

h3 {
    font-family: Poppins, sans-serif;
    color: black;
    white-space: pre-wrap;
    font-size: 2.7vh;

}

