#aboutSection {
    height: 100vh;
    background-image: linear-gradient(grey, black);
    
}

/* 'About' word styling */
#jumbotronAbout h1{
    height: 17vh;
    color: whitesmoke;
    font-size: 9vmin;
    padding: 35px;
    font-family: Lato, sans-serif; 
    font-weight: 900;
}


img {
    width: 60%;
    border: 1px solid #353434;
    margin-left: 18%;
    margin-bottom: 10%;
    border-radius: 10px;
}

#me-text{
    font-family: Lato, sans-serif;
    color: lightcyan;
    /* font-size: 3.7vmin ; */
    white-space: pre-wrap;
    /* font-size: 25%; */
}

@media only screen and (max-width: 480px)  {
    h1 {
        font-size: 18px;
    }
}
