#contactSection {
    height: 30vmax;
    padding-top: 7vh;
    text-align: center;
    max-height: 70vh ;
}

/* "Get in contact with me" text */
h1 {
    text-align: center;
    font-family: Poppins, san-serif;
}

.icons .row i{
    font-size: 60px; 
    color: black;
    padding-top: 50px;
}

.icons .row i:hover{
    color: gray;
}

.black-line{
    background-color: black;
    /* width: 100vmin; */
}
