#basic-navbar-nav .icons i {
    font-size: 30px;
    color: gray;
    width: 50px;
}

#basic-navbar-nav .icons i:hover{
    color: black;
}

#basic-navbar-nav #navSections .txt:hover {
    background-color: black;
    color: white;
}

#navbar {
    position: sticky;
    top: 0;
    
}
